<h1 mat-dialog-title>Roadmap</h1>
<div mat-dialog-content>
  <p>
    <mat-checkbox checked='true' disabled='true'>Material UI</mat-checkbox>

  </p>
  <p>
    <mat-checkbox checked='true' disabled='true'>Improve performance</mat-checkbox>
  </p>
  <p>
    <mat-checkbox disabled='true'>Optimize for smaller screens</mat-checkbox>
  </p>
  <p>
    <mat-checkbox disabled='true'>Search from channel list</mat-checkbox>
  </p>
  <p>
    <mat-checkbox disabled='true'>Country facts and relevant data insights</mat-checkbox>
  </p>
  <p>
    <mat-checkbox disabled='true'>Game: Country Quiz</mat-checkbox>
  </p>
  <p>
      <mat-checkbox disabled='true'>Add PWA Support</mat-checkbox>
    </p>



</div>
<div mat-dialog-actions>
</div>