<mat-toolbar>
  <mat-toolbar-row>
    <span class="header">Search for {{ countryName || 'country' }}</span>

    <!-- View Roadmap -->
    <div class="row">
      <button mat-raised-button (click)="openDialog()">Roadmap</button>
    </div>


  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <div class='social-signin'>
      <div class="g-signin2" data-onsuccess="onSignIn" *ngIf="!validUser"></div>
      <a href='#' onclick='signOut();'>Sign out</a>
    </div>
  </mat-toolbar-row> -->
</mat-toolbar>

<mat-form-field class='searchbar__maxwidth' [hideRequiredMarker]='options.value.hideRequired'
  [floatLabel]='options.value.floatLabel'>
  <input matInput placeholder='Enter a country name' required autofocus [(ngModel)]='countryName'
    (keyup.enter)='searchCountry()' #countryInput />
  <mat-progress-spinner mode='indeterminate' [diameter]=20 class='float-right' *ngIf='isLoading' matSuffix>
  </mat-progress-spinner>
</mat-form-field>


<app-country-info [countryList]='countryList' [isLoading]='isLoading'></app-country-info>