.danger {
    color: red;
}

* {
  font-family: "Roboto Mono", monospace;
}

h1 {
  margin: 0 auto;
}
.searchbar__maxwidth {
  width: 80%;
  margin: 0.6em;
}

.social-signin {
  float: right !important;
  margin: 0; 
  padding: 0;
}
.row {
  margin: 0 0 0 58%;
}

@media screen and (max-width: 600px) {
  .searchbar__maxwidth {
    width: 95%;
    margin: 0.6em;
  }
  mat-expansion-panel {
    display: block !important;
  }
  .header {
    font-size: small;
  }
  .row {
    margin: 0 0 0 15%;
  }
}
